
body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
}
.section1{
    width: 40%;
    background-color: #3941e4;

}
.imagem{
    width: 100%;
}
.section2{
    padding: 20px;
    width: 60%;
}
#linha-horizontal {
    width: 95%;
    border: 1px solid #000;
}
.resumo-e-competencias{
    display: flex;
}

.resumo-e-competencias div:first-child{
    width: 50%;
}
.historico{
    display: flex;
}

.trabalho,.academico{
    width: 50%;
}
.contato-curiosidades{
    padding: 0 40px 20px 40px;
    color: white;
}

.topnav {
    background-color: #3941e4;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .topnav a, .topnav p {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .logo{
      transition: 2s;
  }
  .logo:hover{
      transform:rotate(360deg);
  }

  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  .nav-itens{
      float: right;
  }
  .nome-completo{
    transition: 2s;
    }
    .nome-completo:hover{
        color: rgb(255, 0, 0);
        font-size: 23px;
    }